  .header {
    background-image: linear-gradient(135deg, #7cb12d 10%, #4c4d4b 100%) !important;
    border-radius: 0.5rem;
    padding: 1rem;    
    padding-bottom: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .header-logo {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
  }
  
  .header-title {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .footer {
    background-color: #4c4d4b;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .small-headline {
    font-size: 2rem;
    font-weight: 600;
  }

  .smallest-headline {
    font-size: 1.75rem;
    font-weight: 400;
  }

  .timeline-image {
    width: 80%;
    border-radius: 0.5rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }