.header {
  background-image: linear-gradient(
    135deg,
    #7cb12d 10%,
    #4c4d4b 100%
  ) !important;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
}

.header-logo {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-bottom: -4px;
  transition: all 0.5s linear;
}

.header-title {
  line-height: 1;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0rem;
  transition: all 0.5s linear;
}

.header-subtitle {
  line-height: 1;
  font-size: 1.75rem;
  font-weight: 100;
  margin-bottom: 0rem;
  color: #fff;
}

.footer {
  background-color: #4c4d4b;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.small-headline {
  font-size: 2rem;
  font-weight: 600;
}

.smallest-headline {
  font-size: 1.75rem;
  font-weight: 400;
}

.timeline-image {
  width: 80%;
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.max-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.space-top {
  margin-top: 1rem;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.content-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

@media (max-width: 550px) {
  .header-logo {
    transition: all 0.5s linear;
    height: 26px;
    width: 26px;
    margin-bottom: -3px;
  }

  .header-title {
    transition: all 0.5s linear;
    font-size: 25px;
    font-weight: 200;
  }
}

